.spin-wrapper {
  --wheel-font: "Lato", "Quicksand", sans-serif;
  --wheel-size: 400px;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 5px;
  --wheel-color: #00c2c7;
  --neutral-color: white;
  --PI: 3.14159265358979;
  --nb-item: 0;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0;
}

.spin-wrapper .modal-content {
  background: var(--primary-bg);
}

.spin-wrapper .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
}

.modal-close-btn {
  position: absolute;
  top: -19px;
  right: -19px;
  padding: 12px;
  background: var(--primary-color);
  border-radius: 30px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Conteneur de la roue = cercle rose extérieur */
.main-wheel-container, .big-wheel-container, .risk-wheel-container, .loyalty-wheel-container {
  --wheel-font: "DejaVu Sans", sans-serif !important;
  --wheel-size: 440px;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 5px;
  --wheel-color: #00c2c7;
  --neutral-color: white;
  --PI: 3.14159265358979;
  --nb-item: 0;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0;
}
.main-wheel-container, .big-wheel-container, .risk-wheel-container, .loyalty-wheel-container {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  padding: 3px;
  margin: auto;

  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* for full arrow */
.main-wheel-container::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 4;
  transform: translateX(-50%);
 

  background: url(../../images/wheel/main-wheel/main-wheel-arrow.png) no-repeat;
  background-size: 100%;
  height: 230px;
  width: 123px;
  top: 5%;
  transform: translateX(-50%);
  right: 23.5%;
}
.big-wheel-container::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 4;
  transform: translateX(-50%);

  background: url(../../images/wheel/big-wheel/big-wheel-arrow.png) no-repeat;
  background-size: 100%;
  height: 65px;
  width: 50px;
  top: 0%;
  transform: translateX(-50%);
  right: 37%;
}
.risk-wheel-container::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 4;
  transform: translateX(-50%);

  background: url(../../images/wheel/risk-wheel/risk-wheel-arrow.png) no-repeat;
  background-size: 100%;
  height: 55px;
  width: 35px;
  top: 5%;
  transform: translateX(-50%);
  right: 42%;
}
.loyalty-wheel-container::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 4;
  transform: translateX(-50%);
 

  background: url(../../images/wheel/loyalty-wheel/loyalty-wheel-arrow.png) no-repeat;
  background-size: 100%;
  height: 80px;
  width: 50px;
  top: 0%;
  transform: translateX(-50%);
  right: 37%;
}

/* Roue */
.main-wheel, .big-wheel, .risk-wheel, .loyalty-wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  transition: transform var(--reset-duration);
  transform: rotate(-16deg);
  cursor: pointer;
  background: transparent;
  z-index: 3;
}
/* for main circle */
.main-wheel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../images/wheel/main-wheel/main-wheel-v1.png) no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}
/* for big circle */
.big-wheel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../images/wheel/big-wheel/big-wheel.png) no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}
/* for risk circle */
.risk-wheel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../images/wheel/risk-wheel/risk-wheel.png) no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(145deg);
}
/* for loyalty circle */
.loyalty-wheel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../images/wheel/loyalty-wheel/loyalty-wheel.png) no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}

.main-wheel.spinning, .big-wheel.spinning, .risk-wheel.spinning, .loyalty-wheel.spinning {
  transition: transform var(--spinning-duration);
  transform: rotate(
    calc(
      var(--nb-turn) * 360deg +
        (-360deg * var(--selected-item) / var(--nb-item, 1)) - 16deg
    )
  );
}

/* CSS For stand */
.main-wheel-container::after  {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 36%;
  bottom: -2%;
  left: 0;
  transform: translate(0%, 50%);
  background: url(../../images/wheel/main-wheel/main-stand.png) no-repeat;
  background-size: 100%;
  background-position: center;
  scale: 0.6;
}
.big-wheel-container::after  {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 65%;
  bottom: 0%;
  left: 0;
  transform: translate(0%, 50%);
  background: url(../../images/wheel/big-wheel/big-stand.png) no-repeat;
  background-size: 100%;
  background-position: center;
  scale: 0.6;
}


 .risk-wheel-container::after  {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -7%;
  left: 0;
  transform: translate(0%, 50%);
  background: url(../../images/wheel/risk-wheel/risk-stand.png) no-repeat;
  background-size: 100%;
  background-position: center;
  scale: 0.7;
}

.loyalty-wheel-container::after  {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: -6%;
  left: 0;
  transform: translate(0%, 50%);
  background: url(../../images/wheel/loyalty-wheel/loyalty-stand.png) no-repeat;
  background-size: 100%;
  background-position: center;
  scale: 0.5;
}

/* Element sur la roue */
.main-wheel-item, .big-wheel-item, .risk-wheel-item, .loyalty-wheel-item {
  display: block;
  position: absolute;
  box-sizing: border-box;

  /* position de l'item */
  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%)
    rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));

  /* texte */
  color: #000;
  text-align: center;
  padding: 0 25px 0 50px;
  font-family: var(--wheel-font);
  font-size: 14px;
}

/* Background de l'élément = triangle rose plus clair */
.main-wheel-item:before, .big-wheel-item:before, .risk-wheel-item:before, .loyalty-wheel-item:before {
  content: " ";
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.25;
  border-left: solid transparent 0;
}

.wheel-bulb img {
  width: 426px;
  height: 426px;
  position: absolute;
  top: -var(--smallfont);
  left: -13px;
  -webkit-animation: fadeIn 1s infinite;
  animation: fadeIn 1s infinite;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.spin-wrapper button {
  width: 143px;
  height: 42px;
  background: linear-gradient(215.13deg, #04eef9 0.32%, #00adb5 99.95%), #00adb5;
  border-radius: 25px;
  font-weight: 700;
  font-size: var(--smallfont);
  line-height: 130%;
  border: none;
  margin-top: 20px;
  z-index: 9;
}

img.spinTxt {
  position: absolute;
  top: 44%;
  left: 40%;
  z-index: 5;
  width: 90px;
  -webkit-animation: spinTxt 2s ease-in-out infinite;
  animation: spinTxt 2s ease-in-out infinite;
}

@-webkit-keyframes spinTxt {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) rotate(-9deg);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spinTxt {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) rotate(-9deg);
  }

  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 767px) {
  .main-wheel-container, .big-wheel-container, .risk-wheel-container, .loyalty-wheel-container {
    scale: 0.8;
    left: 50%;
    transform: translateX(-63%);
  }
  .big-wheel-container::after {
    left: 12px;
  }
}

@media screen and (max-width: 375px) {
  .main-wheel-container, .big-wheel-container, .risk-wheel-container, .loyalty-wheel-container {
    scale: 0.7;
    transform: translateX(-71%);
  }
}
