.welcomeModal .modal-content {
  background-color: #2d2d30 !important;
  padding: 30px 20px;
  max-width: 420px;
  margin: auto;
}

.welcomeModal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.welcomeModal .modal-body h4 {
  font-size: 36px;
  text-align: center;
  color: #fff;
}
.welcomeModal .modal-body img {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  opacity: 0.7;
}
.welcomeModal .modal-body p {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: #ddd;
}
.welcomeModal .modal-body button,
.welcomeModal .modal-body button:active,
.welcomeModal .modal-body button:focus,
.welcomeModal .modal-body button:hover {
  max-width: 230px;
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, #ffc700, #ffeca8 51%, #ffc700) !important;
  color: #000;
  font-size: 16px;
  padding: 4px 10px;
  font-weight: 700;
  border: 1px solid #f9ff00;
  border-radius: 30px;
  letter-spacing: 2px;
  margin: 0 auto;
}
.welcomeModal.PurchasePopup .modal-content {
  background-color: transparent !important;
  padding: 0;
  border: none;
  overflow: hidden;
}

.twofa-popup-qr-model .modal-content input {
  background: #606460;
  border: 0 !important;
  border-radius: 5px !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  height: 52px;
  letter-spacing: normal;
  line-height: 1.375rem;
  width: 52px !important;
}

.twofa-popup-qr-model .modal-content .enablebutton button {
  border-radius: 8px;
  caret-color: #ddf2b8 !important;
  color: #000 !important;
  font-size: 16px;
  font-weight: 700 !important;
  height: 44px;
  margin-top: 25px;
  max-width: 100% !important;
  padding: 0 19.5555555556px;
  width: 100% !important;
}

.otp-redeem {
  max-width: 345px;
  width: 100%;
  margin: 15px auto;
}

.PurchasePopup .modal-header {
  border: none !important;
  padding: 0;
  position: absolute;
  right: 80px;
  top: 25px;
  background-color: transparent !important;
  z-index: 999;
  width: 32px;
  height: 32px;
}
.PurchasePopup.mega-bonus .modal-header {
  right: 65px;
}
.PurchasePopup .modal-header .btn-close {
  opacity: 1;
  margin: 0 auto;
  filter: invert(0);
}
.redeem-popup .modal-header {
  right: 5px;
  top: 5px;
}
.welcomeModal.PurchasePopup .modal-body img {
  opacity: unset;
  transform: scale(0.8);
}
.welcomeModal.redeem-popup .modal-body img {
  transform: unset;
  max-width: 450px;
}
.welcomeModal.PurchasePopup .modal-body {
  padding: 0;
  display: unset;
  margin: 0 auto;
}
.welcomeModal.PurchasePopup .modal-body a {
  display: inline-block;
}
.otp-redeem h6 {
  color: #ffd029;
}

@media screen and (max-width: 767px) {
  .welcomeModal .modal-content {
    background-color: var(--primary-bg);
    padding: 20px 10px;
  }
  .welcomeModal .modal-body h4 {
    font-size: 30px;
  }
  .welcomeModal .modal-body img {
    max-width: 250px;
  }
  .welcomeModal .modal-body p {
    font-size: 14px;
  }
  .PurchasePopup .modal-header {
    top: -6px;
    right: 40px;
  }
  .redeem-popup .modal-header {
    top: 0;
    right: 10px;
  }
  .welcomeModal.PurchasePopup .modal-body img {
    transform: scale(0.9);
    max-width: 480px;
  }

  .twofa-popup-qr-model .modal-content input {
    height: 36px;
    max-width: 36px !important;
    width: 100% !important;
  }
  .otp-redeem {
    max-width: 250px;
  }
}
