@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap";

html,
body {
  padding: 0;
  margin: 0;
  color: #878d93;
  background: #24262b;
  font-family: 'Poppins', sans-serif!important;
  overflow-x: hidden;
}

a {
  color: #f8d761;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

.pink{
  color: #D2042D;
}
.red{
  color: #D30101;
}
.gold{
  color: #f8d761;
}
.green{
  color: #0dff00;
}
.teal{
  color: #41ead4;
}
.yellow{
  color: #FBFF12;
}
.font-martian{
  font-family: 'Poppins';
}
.header-nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px;
}
.header-nav-menu{
  width: 70%;
}
.header-nav-container ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
}
.header-nav-menu a{
  font-family: 'Poppins';
  color: #D2042D;
  border: 2px solid #000;
  padding: 10px;
  font-weight: bold;
}
.header-nav-menu a:hover{
  background-color: #FBFF12;
}
.header-nav-logo-div{
  text-align: center;
  font-family: 'Unica One';

}

.menu-logo-img{
  width: 50px;
}
.connect-wallet-header{
  border: 2px solid #D2042D;
  border-radius: 10px;
}
.wallet-icon-img{
  height: 50px;
  width: 50px;
}
.wallet-icon-img:hover{
  transform: rotate(-20deg);
}
.connect-wallet-div{
  margin: 30px auto;
  width: 250px;
  border: 2px solid #D2042D;
  border-radius: 10px;
  margin-bottom: 50px;
}
.wallet-casino-profile-div{
  width: 90%;
  margin: 30px 0 40px 0;
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 4px solid #D2042D;
  border-radius: 10px;
  background-color: #1b2129;
  font-family: 'Poppins';
}
.wallet-casino-profile-img{
  width: 150px;
  border-radius: 100%;
  border: 5px solid #FBFF12;
}
.wallet-casino-profile-details{
  width: 50%;
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}
.wallet-casino-profile-username{
  color: #D2042D;
  font-size: 32px;
  text-shadow: 1px 1px #FBFF12;
}
.wallet-casino-profile-img-div{
  display: flex;
  align-items: center;
}
.button-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-margin-100{
  margin-bottom: 100px;
}
.token-small{
  width: 45px;
  margin-right: 10px;
}
.token-nav{
  width: 25px;
  margin-right: 10px;
  vertical-align:top;
}
.token-nav-div{
  display: flex;
  flex-direction: row;
  align-items: top;
}
.ticket-small{
  width: 60px;
  margin-right: 10px;
}
.token-logo{
  width: 60px;
  margin-right: 15px;
  border-radius: 100%;
}
.token-ticket-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.crypto-balance-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: .08;
}
.width-100{
  width: 100%;
}
.crypto-balance-div{
  width: 30%;
  margin: 10px 0 10px 0;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  border: 4px solid #fff;
  border-radius: 10px;
  background-color: #1b2129;
  font-weight: bold;
  font-size: 20px;
}
.crypto-balance-header{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #FBFF12;
  margin-bottom: 10px;
}
.claim-pending-div{
  text-align: center;
  font-weight: 200;
  font-size: 14px;
  margin-top: 40px;
}
.claim-countdown{
  margin-top: 15px;
  color: #FBFF12;
  font-size: 18px;
}
.claim-btn{
  margin-top: 20px;
  padding: 10px 20px !important;
  font-family: 'Poppins';
  font-size: 14px;
  background-color: #000;
  border: 2px solid #D2042D;
  border-radius: 5px;
  text-transform: uppercase;
}
.claim-btn:hover{
  cursor: pointer;
  background-color: #D2042D;
  border: 2px solid #FBFF12;
  border-radius: 5px;
}
.daily-reward-bag{
  width: 100%;
}
.daily-reward-bag-div{
  margin-top: 45px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.daily-rewards-bag-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.next-claim-div{
  border: 2px solid #D2042D;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: 45px auto 0 auto;
  font-family: 'Poppins';
  font-size: 24px;
}
.header-nav-container-mobile{
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;
}
.header-nav-menu-mobile{
  width: 100%;
}
.header-nav-container-mobile ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header-nav-menu-mobile a{
  display: flex;
}
.wallet-icon-img-mobile{
  max-width: 60px;
                
                object-fit: contain;
  border: 5px solid #FBFF12;
  border-radius: 100%;
}

.loading-img-div{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.loading-img{
  width: 200px;
}
.switch-network-div{
  text-align: center;
  font-family: 'Poppins';
  font-weight: bold;
  color: #FBFF12;
  border: 3px solid #FBFF12;
  background-color: #D2042D;
  border-radius: 5px;
  padding: 40px;
}
.footer-nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0 0 0;
  padding: 60px 20px 20px 10px;
}
.footer-inner-div{
  padding: 0 50px;
}
.footer-div{
  text-align: center;
  padding: 30px 0;
}
.transaction-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 4px solid #D2042D;
  border-radius: 5px;
  background-color: #1b2129;
  padding: 20px;
  margin: 5px auto 30px auto;
}
.transaction-div-title{
  width: 100%;
  text-align: center;
  font-family: 'Poppins';
  font-size: 26px;
  padding: 10px 0 30px 0;
  text-transform: uppercase;
}
.transaction-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22%;
  height: 325px;
  line-height: 1.9;
  padding: 15px;
  margin: 5px;
  text-align: center;
  border: 2px solid #f9ff00;
  border-radius: 5px;
  font-family: 'Poppins';
}
.transaction-card-coupon-code{
  margin-top: 15px;
  font-weight: bold;
  background-color:#D2042D;
  padding: 6px;
}
.page-nav-header-btns-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Poppins';
  padding: 20px 0 0 0;
}
.page-nav-header-btns-subrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0 0 0;
  font-family: 'Poppins';
}
.page-nav-header-btn{
  padding: 10px 5px;
  margin: 0 10px;
  font-family: 'Poppins';
  width: 200px;
  border: 2px solid #D2042D;
  background-color: #000000;
  border-radius: 5px;
  font-size: 22px;
}
.page-nav-header-subbtn{
  padding: 10px 25px;
  margin: 0 10px;
  background-color: #000000;
  font-family: 'Poppins';
  border: 2px solid #D2042D;
  border-radius: 5px;
}
.disabled{
  background-color: #d2042d8c !important;
  color: #8d8a8a;
}
.asterisk-desc{
  margin-top: 25px;
  font-size: 14px;
  color: #D2042D;
}
.bordered-section{
  margin: 20px auto;
  padding: 15px;
  width: 85%;
  border: 3px solid #D2042D;
  border-radius: 5px;
  background-color: #1b2129;
  
}
.pageTitle{
  text-align: center;
  margin-bottom: 50px;
  color: #FBFF12;
  text-shadow: 2px 2px #D2042D;
  text-transform: uppercase;
}
.inlineTitle{
  color: #FBFF12;
  text-shadow: 2px 2px #D2042D;
  text-transform: uppercase;
}
.subheader-btn{
  margin: 30px;
  background-color: #000;
  padding: 20px 30px;
  border: 2px solid #FBFF12;
  border-radius: 5px;
  color: #5EE47E;
  font-family: 'Poppins';
  font-weight: bold;
}
.subheader-btn:hover{
  background-color: #000;
  color: #D2042D;
  cursor: pointer;
}
.card-img{
  width: 100px;
  height: 100px;
  margin: 15px 0 0 0;
  border-radius: 5px;
}
.card-img:hover{
  transform: rotate(-20deg);
}
.raffle-img{
  width: 200px;
  height: 200px;
  margin: 0;
  border-radius: 5px;
}
.raffle-img:hover{
  transform: rotate(-20deg);
}
.raffle-data-box{
  border: 2px solid #D2042D;
  border-radius: 5px;
  padding: 20px;
  width: 25%;
}
.fine-print-txt{
  text-align: center;
  font-size: 16px;
  font-family: 'Poppins';
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 80px;
}
.flex-row-no-margin{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.nft-home-sell-div{
  margin: 20px auto;
  padding: 15px;
  width: 85%;
  border: 3px solid #D2042D;
  border-radius: 5px;
  background-color: #1b2129;
}
.nft-home-sell-title{
  text-align: center;
  margin-bottom: 50px;
  color: #FBFF12;
  text-shadow: 2px 2px #D2042D;
  text-transform: uppercase;
}
.nft-home-sell-more{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nft-home-sell-more-btn{
  background-color: #000;
  padding: 10px 20px;
  border: 2px solid #FBFF12;
  border-radius: 5px;
  margin-top: 15px;
  color: #5EE47E;
  font-family: 'Poppins';
  font-weight: bold;
}
.nft-home-sell-more-btn:hover{
  background-color: #000;
  color: #D2042D;
  cursor: pointer;
}
.nft-home-sell-card{
  padding: 10px;
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  color: #FBFF12;
  width:16%;
}
.nft-home-sell-details{
  text-align: center;
}
.contact-div{
  padding: 50px;
  margin: 30px 0;
  background-color: #1b2129;
  border: 2px solid #D2042D;
  border-radius: 5px;
  font-family: 'Poppins';
}
.full-page-container{
  min-width: 100%;
  background-color: #1b2129;
  padding: 20px 30px;
  border: 6px solid #FBFF12;
  border-radius: 10px;
  font-family: 'Poppins';
}
.modal-popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 100%;
}
.modal-header{
  font-family: 'Poppins';
  color: #FBFF12;
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
}
.modal-popup input{
  padding: 15px;
  border: 2px solid #FBFF12;
  font-size: 20px;
  color: #fff;
}
.modal-popup-btn{
  margin-top: 30px;
  padding: 15px 30px !important;
  font-family: 'Poppins';
  font-size: 20px;
  color: #FBFF12;
  background-color: #000;
  border: 2px solid #D2042D;
  border-radius: 5px;
  cursor: pointer;
}
.modal-popup-btn:hover{
  background-color: #D2042D;
  border: 2px solid #FBFF12;
  border-radius: 5px;
}

.popup-content {
  margin: auto;
  background: #1b2129;
  width: 100%;
  padding: 5px;
}
.popup-arrow {
  color: #FBFF12;
}
[role='tooltip'].popup-content {
  width: 500px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  color: #D2042D;
  background: #1b2129;
  font-family: 'Poppins';
  text-align: center;
  border: 2px solid #FBFF12;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.connect-wallet-inline{
  border: 2px solid #D2042D;
  border-radius: 5px;
}
.connect-wallet-inline:hover{
  border: 2px solid #FBFF12;
}
.nft-token-row-div{
  width: 100%;
}
.nft-token-row-card{
  width: 100%;
  border: 6px solid #D2042D;
  border-radius: 5px;
  padding: 20px 50px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nft-token-stripe-badge-div{
  height: 100%;
  text-align: center;
  padding: 0 50px 0 0;
}
.stripe-badge-img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.green-border-6px{
  border: 6px solid #5EE47E !important;
}
.pink-border-6px{
  border: 6px solid #ff206e !important;
}
.blue-border-6px{
  border: 6px solid #3a86ff !important;
}
.nft-token-row-card-image{
  width: 20%;
}
.nft-token-row-desc{
  width: 50%;
}
.nft-token-row-details{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: .9;
}
.nft-token-row-name{
  font-size: 26px;
  color: #FBFF12;
}
.nft-token-row-sale{
  text-align: center;
  line-height: 2;
  font-size: 26px;
  color: #5EE47E;
  text-shadow: 1px 1px #D2042D;
}
.sale-badge-img{
  width: 140px;
}
.qty-badge{
  border-radius: 100%;
  background-color: #0dff00;
  width: 30px;
  height: 30px;
  color: #D2042D;
}
.bottom-row-btns-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.erc721Card{
  border: 2px solid #D2042D;
  border-radius: 5px;
  background-color: #1b2129;
  padding: 30px;
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  color: #fff;
  width:100%;
  line-height: 1.5;
}
.erc721Card-name{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  line-height: 1;
}
.erc721Card-image{
  border: 3px solid #FBFF12;
  margin: 0 15px;
  border-radius: 5px;
}
.erc721Card-image:hover{
  border: 3px solid #D2042D;
  transform: rotate(-10deg);
}
.erc721Card-details{
  padding-left: 15px;
  width: 30%;
}
.erc721Card-col-title{
  font-size: 24px;
  color: #D2042D;
  background-color: #FBFF12;
  padding: 4px 8px;
}
.erc721Card-3rd-col{
  padding-left: 15px;
  width: 30%;
}
.erc721Card-4th-col{
  width: 15%;
  text-align: center;
  font-size: 16px;
  border: 2px solid #D2042D;
  border-radius: 5px;
  padding: 10px 0;
}
.erc721Card-rarity-subsection{
  
}
.rarity-pct-1{
  color: rgb(245, 168, 168);
}
.rarity-pct-2{
  color: rgb(248, 135, 135);
}
.rarity-pct-3{
  color: rgb(250, 63, 209);
}
.rarity-pct-4{
  color: rgb(86, 250, 174);
}
.rarity-pct-6{
  background: linear-gradient(270deg, #ff0000, #0dff00, #f9ff00, #00b9ff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.rarity-pct-5{
  background: #FF0000;
background: linear-gradient(to left, #FF0000 0%, #ffff00 50%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
}
.erc1155Card{
  padding: 20px;
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Poppins';
  color: #FBFF12;
  width:40%;
}
.erc1155-buy-btn{
  background-color: #D2042D;
  padding: 10px 20px;
  border: 2px solid #FBFF12;
  border-radius: 5px;
  margin-top: 15px;
  color: #FBFF12;
  font-family: 'Poppins';
  font-weight: bold;
}
.erc1155-buy-btn:hover{
  background-color: #000;
  border: 2px solid #FBFF12;
  color: #5EE47E;
  cursor: pointer;
}
.erc1155Card-details{
}
.erc1155-price{
  color: #5EE47E;
}
.create-listing-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 22px;
  width: 50%;
  line-height: 2.5;
}
.create-listing-form input, select{
  margin-left: 25px;
  padding: 5px;
}
.large-header-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.large-header-img{
  width: 70%;
  margin: 0 auto 35px auto;
}
.detecting-dl-img{
  margin: 100px auto;
  border: 7px solid #FBFF12;
  border-radius: 5px;
  animation: 2s infinite security;
}
@keyframes security {
  0% {
    border-color: #5EE47E;
  }
  25% {
    border-color: #D2042D;
  }
  75% {
    border-color: #FBFF12;
  }
  100% {
    border-color: #5EE47E;
  }
}
@-webkit-keyframes security {
  0% {
    border-color: #5EE47E;
  }
  25% {
    border-color: #D2042D;
  }
  75% {
    border-color: #FBFF12;
  }
  100% {
    border-color: #5EE47E;
  }
}
.white-txt{
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}
.detecting-txt{
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 40px;
  animation: 2s infinite text-color;
}
@keyframes text-color {
  0% {
    color: #5EE47E;
  }
  25% {
    color: #D2042D;
  }
  75% {
    color: #FBFF12;
  }
  100% {
    color: #5EE47E;
  }
}
@-webkit-keyframes text-color {
  0% {
    color: #5EE47E;
  }
  25% {
    color: #D2042D;
  }
  75% {
    color: #FBFF12;
  }
  100% {
    color: #5EE47E;
  }
}
.submit-btn{
  margin-top: 45px;
  padding: 15px 30px !important;
  font-family: 'Poppins';
  font-size: 22px;
  background-color: #000;
  border: 2px solid #D2042D;
  border-radius: 5px;
}
.submit-btn:hover{
  cursor: pointer;
  color: #fff;
  background-color: #D2042D;
}
.button1{
  padding: 15px 30px !important;
  font-family: 'Poppins';
  font-size: 24px;
  background-color: #000;
  border: 2px solid #D2042D;
  border-radius: 5px;
}
.button1:hover{
  cursor: pointer;
  color: #fff;
  background-color: #D2042D;
}
.button2{
  padding: 15px 30px !important;
  font-family: 'Poppins';
  font-size: 20px;
  background-color: #000;
  border: 2px solid #D2042D;
  border-radius: 5px;
  text-transform: uppercase;
}
.button2:hover{
  cursor: pointer;
  color: #fff;
  background-color: #D2042D;
}
.button3{
  padding: 15px 30px !important;
  font-family: 'Poppins';
  font-size: 20px;
  background-color: #D2042D;
  border: 2px solid #D2042D;
  border-radius: 5px;
  text-transform: uppercase;
}
.button3:hover{
  cursor: pointer;
  color: #000;
  border: 2px solid #0dff00;
  background-color: #0dff00;
  font-weight: bold;
}
.button4{
  padding: 10px 25px !important;
  font-size: 30px;
  font-weight: bolder;
  background-color: #0dff00;
  border: 2px solid #0dff00;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Poppins';
  color: #000;
}
.button4:hover{
  cursor: pointer;
  color: #0dff00;
  border: 2px solid #0dff00;
  background-color: #1b2129;
}
.button-inline{
  padding: 5px 10px !important;
  font-family: 'Poppins';
  font-size: 16px;
  background-color: #000;
  border: 2px solid #D2042D;
  border-radius: 5px;
  text-transform: uppercase;
}
.button-inline:hover{
  cursor: pointer;
  color: #fff;
  background-color: #D2042D;
}
.bold{
  font-weight: bold;
}
.feature-overview-div{
  margin: 0 20%;
  padding: 20px 20px;
  background-color: #000;
  border: 2px solid #FBFF12;
  border-radius: 5px;
  font-family: 'Poppins';
}
.feature-overview-div1{
  margin: 0 20%;
  padding: 20px 20px;
  background-color: #1b2129;
  border: 4px solid #0dff00;
  border-radius: 5px;
  font-family: 'Poppins';
}
.feature-overview-div2{
  margin: 0 20%;
  padding: 20px 20px;
  background-color: #1b2129;
  border: 4px solid #FBFF12;
  border-radius: 5px;
  font-family: 'Poppins';
}
.feature-overview-div3{
  margin: 0 20%;
  padding: 20px 20px;
  background-color: #1b2129;
  border: 4px solid #D2042D;
  border-radius: 5px;
  text-align: center;
}
.feature-overview-block{
  padding: 20px 20px;
  background-color: #D2042D;
  border-radius: 5px;
  border: 2px solid #D2042D;
}
.half-page-menu-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 50px 10px 50px 15%;
}
.half-page-card-menu-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  vertical-align: middle;
  padding: 0 20px;
  background-color: #000;
  width: 40%;
}
.prizes_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.prizes-card{
  margin: 20px;
  width: 80%;
  padding: 40px;
  border: 4px solid #FBFF12;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  font-family: 'Poppins';
  color: #ffffff;
  font-size: 20px;
  background-color: #000;
}
.prizes-card:hover{
  border: 4px solid #FBFF12;
}
.prizes-chip-count{
  text-align: center;
  margin-bottom: 25px;
  color:#0dff00;
  font-family: 'Poppins';
  font-size: 26px;
  text-transform: uppercase;
}
.prize-name{
  font-size: 30px;
  color: #FFF;
  margin-bottom: 15px;
  background-color: #1b2129;
  padding: 12px 0;
  border: 2px solid #FBFF12;
  border-radius: 3px;
}
.prize-cost{
  color:#0dff00;
  font-size: 26px;
}
.holder-claim-details{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: bold;
}
.additional-info-div{
  width: 50%;
  color: #fff;
  background-color: #1b2129;
  font-size: 18px;
  margin: 15px auto;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
}
.title{
  font-weight: bold;
  font-size: 20px;
}
.earn-free-tokens-desc-div{
  padding: 20px;
  width: 45%;
  margin: 20px auto 40px auto;
  border: 3px solid #f9ff00;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.earn-free-tokens-desc-div-full{
  padding: 60px;
  width: 85%;
  margin: 20px auto 40px auto;
  border: 3px solid #f9ff00;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.earn-free-tokens-desc-header{
  text-align: center;
  font-size: 24px;
  font-family: 'Poppins';
}
.earn-free-tokens-desc{
  text-align: center;
  font-family: 'Poppins';
  margin-bottom: 20px;
}
.social-share-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  margin: 8px;
  border: 2px solid #D2042D;
  font-size: 20px;
}
.social-share-btn{
  margin-right: 15px;
  margin-left: 15px;
}
.social-share-btn-div{
  margin-top: 20px;
}
.social-share-filter-btn{
  margin: 0 10px;
  cursor: pointer;
  border: 3px solid #1b2129;
}
.social-share-filter-btn:hover{
  border: 3px solid #D2042D;
  border-radius: 100%;
}
.txt-align-center{
  text-align: center;
}
.leaderboard-card-div{
  width: 45%;
  margin: 5px auto;
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 4px solid #f9ff00;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}
.leaderboard-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
}
.affiliate-card-div{
  width: 85%;
  margin: 5px auto;
  padding: 30px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 4px solid #f9ff00;
  border-radius: 5px;
  font-size: 20px;
}
.affiliate-card-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.daily-reward-card-div{
  width: 85%;
  margin: 5px auto;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #D2042D;
  border-radius: 5px;
  font-size: 20px;
  color: #888888;
}
.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.9); /* scaling to 0 */
  }
  50% {
    transform: scale(1.1); /* increasing the size */
  }
  100% {
    transform: scale(0.9); /* seeting back to initial size */
  }
}

.teeter {
  animation: teeter-animation 3s infinite;
}

@keyframes teeter-animation {
  
  0% {
    transform: rotate(5deg); /* increasing the size */
  }
  50% {
    transform: rotate(-5deg); /* increasing the size */
  }
  100% {
    transform: rotate(5deg); /* increasing the size */
  }
}


.bg-gray{
  background-color: #1b2129;
}

.bg-animated {
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 5s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.bg-animated2 {
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(29, 196, 93) 0%, 
        rgb(40, 168, 14) 25%, 
        rgb(15, 155, 15) 51%, 
        rgb(34, 233, 77) 100%
  );  
  animation: AnimateBG 5s ease infinite;
}

.bg-animated3 {
  background-size: 300% 300%;
  background-image: linear-gradient(
        45deg, 
        rgb(211, 69, 13) 0%, 
        rgb(235, 134, 19) 20%, 
        rgb(241, 8, 8) 71%, 
        rgb(248, 232, 12) 100%
  );  
  animation: AnimateBG 5s ease infinite;
}

.dl-loader-img{
  width: 75px;
  height: 75px;
}
.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-loader {
  top: 0%;
  width: 100%;
  height: 50%;
  position: absolute;
  position:fixed;
  background: #000000;
  z-index: 9999999;
}
.z1001{
  z-index: 1001;
}
.pageImgContainer {
  top: 0;
  left: 0;
  margin: 0 5%;
  position: fixed;
  background: #FBFF12f5;
  width: 90%;
  height: 60vh;
  display: grid;
  place-content: center;
  padding: 100px 25px;
  color:#D2042D;
  text-shadow: 2px 2px #1b2129;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #D2042D;
  border-radius: 5px;
  z-index: 1000;
}
.pageImgContainer-dl {
  top: 0;
  left: 0;
  margin: 0 5%;
  position: fixed;
  width: 90%;
  height: 60vh;
  display: grid;
  place-content: center;
  padding: 100px 25px;
  color:#fff;
  text-shadow: 2px 2px #1b2129;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #D2042D;
  border-radius: 5px;
  z-index: 1000;
}
.social-share-filter-btns-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}
.mint-DL-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 50px auto;
}
.min-menu-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px auto 10px auto;
  border-top: 2px solid #D2042D;
  border-bottom: 2px solid #D2042D;
  border-radius: 5px;
  padding: 10px;
}
.min-menu-btn{
  background-color: #D2042D;
  border: 2px solid #D2042D;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 0 20px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
.min-menu-btn:hover{
  background-color: #000000;
  color: #D2042D;
}
.raffles-header-shop-card{
  background-color: #000;
  border: 2px solid #D2042D;
  border-radius: 5px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20%;
  max-width: 20%;
}
.raffles-header-shop-div{
  background-color: #1b2129;
  border: 4px solid #D2042D;
  border-radius: 5px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}
.ending-soon{
  padding: 10px 30px;
  margin: 15px auto -5px auto;
  background-color: #1b2129;
  border: 4px solid #D2042D;
  border-radius: 5px;
  width: 30%;
}
.close-btn-round-div{
  margin: 25px 0 -15px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
}
.close-btn-round{
  padding: 7px 16px;
  background-color: #1b2129;
  font-family: 'Poppins';
  border-radius: 100%;
  color: #D2042D;
  border: 2px solid #D2042D;
  font-weight: bold;
  cursor: pointer;
}
.close-btn-round:hover{
  background-color: #D2042D;
  color: #1b2129;
  font-weight: bold;
}
.imageAnimation {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  animation: spinner5 1s infinite ease-in-out;
}
@keyframes spinner5 {
  from,
  0% {
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    animation-timing-function: ease;
  }
  13% {
    -moz-transform: rotateY(45deg);
    -ms-transform: rotateY(45deg);
    transform: rotateY(45deg);
    animation-timing-function: ease;
  }
  26% {
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg);
    animation-timing-function: ease;
  }
  39% {
    -moz-transform: rotateY(135deg);
    -ms-transform: rotateY(135deg);
    transform: rotateY(135deg);
    animation-timing-function: ease;
  }
  52% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    animation-timing-function: ease;
  }
  65% {
    -moz-transform: rotateY(225deg);
    -ms-transform: rotateY(225deg);
    transform: rotateY(225deg);
    animation-timing-function: ease;
  }
  78% {
    -moz-transform: rotateY(270deg);
    -ms-transform: rotateY(270deg);
    transform: rotateY(270deg);
    animation-timing-function: ease;
  }
  91% {
    -moz-transform: rotateY(315deg);
    -ms-transform: rotateY(315deg);
    transform: rotateY(315deg);
    animation-timing-function: ease;
  }
  to,
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
    animation-timing-function: ease;
  }
}


/********************************************************************************************/
                /************* New Styling for Marketplace ******************/
/********************************************************************************************/




/*********************** Global *************************/

.container{
  max-width: 1360px;
  padding: 0px 16px;
  margin: 0px auto;
}

.wrapper:before {
  content: "";
  background: #000000c7;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  background: url(https://blackwallpaperhd.com/wp-content/uploads/2022/01/texture35.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
}

.content{
  position: relative;
}

.mobile-menu {
  display: none;
}

.mobile-menu .header-nav-container-mobile ul li img {
  max-width: 50px;
  object-fit: contain;
  border: 2px solid #FBFF12;
  border-radius: 100%;
}



/*********************** Header *************************/

.header {
  /* background: #1a1c20; */
  position: relative;
}

.header-nav-logo {
  max-width: 180px;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.header-menu ul li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.header-menu ul li a:hover {
  color: #f9ff00;
}

.header-action a {
  width: 40px;
  height: 40px;
  display: flex;
  background: #24262b;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.header-action a img {
  width: 30px;
}

.menu-logo-img{
  width: 100px;
}

.wallet {
  text-align: center;
}

.icon-links {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.wallet button {
  letter-spacing: 0;
  font-family: 'Poppins', sans-serif!important;
  font-weight: 400;
  background: #24262b;
  border-color: #24262b;
  font-size: 14px;
  min-width: 180px!important;
  height: 44px!important;

}

.wallet button:hover, .wallet button:focus {
  background: #24262b;
  border-color: #24262b;
}

li#metamask, li#coinbasewallet, li#walletConnect {
  font-family: 'Poppins', sans-serif!important;
  font-size: 14px;
}

/*********************** Footer *************************/


.footer {
  /* background: #1a1c20; */
  position: relative;
}



.footer-grid {
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info {
  position: relative;
}

.footer-info h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 30px;
  color: #878d93;
  margin: 0;
}

.footer-info h6 {
  max-width: 390px;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #878d93;
  margin: 0;
  padding-bottom: 30px;
}

.footer-info p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #878d93;
  margin: 0;
}

.footer-info a img {
  margin-left: -50px;
}

.footer-info span {
  font-weight: 700;
}

.footer-menu h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #fff;
  padding-bottom: 20px;
  /* title_shadow */
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.footer-menu ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.footer-menu ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #878d93;
  text-decoration: none;
  transition: all 0.5s;
}

.footer-menu ul li a:hover {
  color: #f9ff00;
}

.footer-menu ul li {
  padding-left: 15px;
  position: relative;
}

.footer-menu ul li:before {
  content: "";

  background: #f9ff00;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 0;
  width: 5px;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-contact h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #fff;

  /* title_shadow */
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding-bottom: 8px;
}

ul.footer-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 34px;
}

ul.footer-social li {
  margin-right: 15px;
}

ul.footer-social li a {
  width: 30px;
  height: 30px;
  background: #343a40;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
ul.footer-social li a img {
  width: 20px;
  height: 20px;
}
ul.footer-social li a:hover img {
  filter: invert(1);
}

ul.footer-social li a:hover {
  /* background: var(--main-bg); */
  background: #f9ff00;
}

ul.footer-support {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.footer-support li {
  display: flex;
  align-items: center;
}

ul.footer-support li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-decoration: none;

  color: #878d93;
  transition: all 0.5s;
}

ul.footer-support li a:hover {
  color: #fff;
}
ul.footer-support li img {
  margin-right: 3px;
}

.footer-menu,
.footer-contact {
  padding-top: 90px;
}

.footer-info a img,
.logo-mobile img {
  max-width: 270px;
  width: 100%;
  margin-bottom: 20px;
}

/*********************** Coockie popup *************************/

.CookieConsent {
  left: 2rem!important;
  bottom: 1.25rem!important;
  max-width: 650px;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: #1e2024!important;
  box-shadow: 0 0 10px #00000030;
  align-items: center!important;
}

.CookieConsent h4 {
  font-weight: 600;
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 1.375rem;
  padding-bottom: 12px;
}

.CookieConsent p {
  color: #878d93;
  font-size: 14px;
  margin: 0;
}


.CookieConsent button {
  color: #000!important;
  background-color: #ffd712!important;
  background-image: conic-gradient(from 1turn,#f9ff00,#ffd712)!important;
  width: 120px;
  height: 48px;
  border-radius: 0.125rem!important;
  font-weight: 600;
  font-size: 14px!important;
  font-family: 'Poppins', sans-serif!important;
}

.CookieConsent button:hover{
  background-image: conic-gradient(from 1turn,#ffd712,#f9ff00)!important;
}



/*********************** Login Popup *************************/


.login-page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  max-width: 600px;
  border: 1px solid #121212;
  background: rgb(46,46,48);
  background: radial-gradient(circle, rgb(28 28 28) 0%, rgb(0 0 0) 100%);
  box-shadow: 0px 20px 20px #00000091;
}

.login-page-desc{
  text-align: center;
}


.login-page-body .login-page-img {
  max-width: 300px;
  margin: 0px auto;
}


.login-page-body .submit-btn {
  margin-top: 45px;
  padding: 10px 20px !important;
  font-size: 18px;
  border-radius: 4px;
  color: #000!important;
  background-color: #ffd712!important;
  background-image: conic-gradient(from 1turn,#f9ff00,#ffd712)!important;
  height: 60px;
  border: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif!important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page-body .submit-btn:hover {
  background-image: conic-gradient(from 1turn,#ffd712,#f9ff00)!important;
}

/********************************************************************************************/
                /************* Media Query ******************/
/********************************************************************************************/


@media screen and (max-width: 1240px) and (min-width: 720px) {
  .header-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    background-color: #2b333d;
    border-bottom: 2px solid #D2042D;
  }
  .header-nav-menu{
    display: none;
  }

  .wallet-icon-img-mobile{
    width: 40%;
    height: 40%;
  }
  .wallet-icon-img-mobile{
    max-width: 135px;
  }
  .wallet-casino-profile-div{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
  .wallet-casino-profile-img{
    width: 150px;
    border-radius: 100%;
    border: 5px solid #FBFF12;
  }
  .wallet-casino-profile-details{
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
  .wallet-casino-profile-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .balance-column{
    margin-top: 15px;
    color: #fff;
  }
  .token-ticket-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .crypto-balance-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .crypto-balance-div{
    width: 100%;
    margin: 30px 0 0px 0;
    display: flex;
    flex-direction: row;
    border: 4px solid #fff;
    font-size: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .footer-info {
    position: relative;
    max-width: 250px;
  }
}

@media screen and (max-width: 991px) {
  .footer-grid {
    padding: 40px 0px 100px;
  }
  .footer-menu,
  .footer-contact {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .header-menu {
    display: none;
  }
  .menu-logo-img {
    width: 75px;
}
.wallet .green {
  font-size: 14px;
  padding-top: 5px;
}
.icon-links {
  left: 80px;
}
  .mobile-menu{
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #23252a;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #292d30;
  }
}

@media screen and (max-width: 720px) {
  .header-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    background-color: #2b333d;
    border-bottom: 2px solid #D2042D;
  }
  .header-nav-menu{
    display: none;
  }
  .header-nav-container ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
  }
  .header-nav-menu a{
    display: none;
    font-family: 'Poppins';
    color: #D2042D;
    border: 2px solid #000;
    padding: 15px;
    font-weight: bold;
  }
  .header-nav-menu a:hover{
    background-color: #FBFF12;
  }
  .wallet-icon-img{
    display: none;
    height: 50px;
    width: 50px;
  }

  .footer-nav{

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0 0 0;
    padding: 60px 20px 20px 10px;
  }
  .footer-inner-div{
    padding: 20px 50px;
  }
  .footer-div{

    text-align: center;
    padding: 30px 0 200px 0;
  }
  .bordered-section{
    margin: 20px auto;
    padding: 15px 5px;
    width: 100%;
    border: 3px solid #D2042D;
    border-radius: 5px;
    background-color: #1b2129;
  }
  .full-page-container{
    min-width: 100%;
    background-color: #1b2129;
    padding: 10px 5px;
    border: 3px solid #FBFF12;
    border-radius: 10px;
    font-family: 'Poppins';
  }
  .prizes-card{
    margin: 20px 0;
    width: 100%;
    padding: 15px 10px;
    font-size: 12px;
  }
  .prize-cost{
    color:#0dff00;
    font-size: 26px;
  }
  .prize-name{
    width: 90%;
    font-size: 20px;
    color: #FFF;
    margin: 0 auto;
    background-color: #1b2129;
    padding: 12px 0;
    border: 2px solid #FBFF12;
    border-radius: 3px;
  }
  .holder-claim-details{
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 200;
  }
  .additional-info-div{
    width: 90%;
    color: #fff;
    background-color: #1b2129;
    font-size: 18px;
    margin: 15px auto;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
  }
  .nft-token-stripe-badge-div{
    width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .nft-home-sell-div{
    width: 98%;
  }
  .nft-home-sell-more{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nft-home-sell-more-btn{
    background-color: #000;
    padding: 10px 20px;
    border: 2px solid #FBFF12;
    border-radius: 5px;
    margin-top: 15px;
    color: #5EE47E;
    font-family: 'Poppins';
    font-weight: bold;
  }
  .flex-row{
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 80px;
  }
  .flex-row-no-margin{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nft-home-sell-card{
    margin: 10px 0 35px 0;
    width:100%;
  }
  .nft-token-row-card{
    width: 100%;
    padding: 20px 10px;
    margin: 20px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nft-token-row-card-image{
    width: 100%;
  }
  .nft-token-row-desc{
    width: 95%;
    margin-bottom: 20px;
  }
  .nft-token-row-details{
    width: 95%;
  }
  .erc1155-price{
    line-height: normal;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .nft-token-row-sale{
    text-align: center;
    line-height: 2;
    font-size: 26px;
    margin-top: 40px;
  }
  .sale-badge-img{
    width: 160px;
  }
  .erc1155Card{
    width: 100%;
    text-align: center;
    margin: 30px 0;
  }
  .collection-header-img{
    width: 90%;
  }

  .wallet-casino-profile-div{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
  .wallet-casino-profile-img{
    width: 150px;
    border-radius: 100%;
    border: 5px solid #FBFF12;
  }
  .wallet-casino-profile-details{
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
  .wallet-casino-profile-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .balance-column{
    margin-top: 15px;
    color: #fff;
  }
  .token-ticket-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .crypto-balance-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 2;
  }
  .crypto-balance-div{
    width: 100%;
    margin: 30px 0 0px 0;
    display: flex;
    flex-direction: row;
    border: 4px solid #fff;
    font-size: 20px;
  }
  .affiliate-card-div{
    width: 98%;
    margin: 5px auto;
    padding: 20px;
    flex-direction: column;
    font-size: 18px;
  }
  .affiliate-card-row{
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .inlineTitle{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .daily-reward-card-div{
    width: 98%;
    padding: 10px;
    flex-direction: column;
    font-size: 14px;
    color: #888888;
    text-align: center;
  }
  .earn-free-tokens-desc-div, .earn-free-tokens-desc-div-full{
    width: 98%;
  }
  .earn-free-tokens-desc-div-full{
    padding: 20px;
  }
  .social-share-card{
    padding: 15px 5px;
    font-size: 16px;
    text-align: center;
    margin: 4px;
  }
  .social-share-btn-div{
    margin-top: 25px;
  }
  .social-share-filter-btn{
    margin: 0 10px;
    cursor: pointer;
  }
  .submit-btn{
    margin-top: 20px;
  }
  .erc721Card{
    padding: 30px 3px;
    margin: 10px auto;
    flex-direction: column;
    width:100%;
    text-align: center;
  }
  .erc721Card-name{
    flex-direction: column;
    text-align: center;
  }
  .erc721Card-image{
    margin: 0 auto;
  }
  .erc721Card-details{
    padding-left: 0px;
    width: 100%;
    margin-top: 30px;
    line-height: 1.8;
  }
  .erc721Card-col-title{
    margin-top: 30px;
  }
  .erc721Card-3rd-col{
    padding-left: 0px;
    width: 100%;
    margin-top: 30px;
    line-height: 1.8;
  }
  .erc721Card-4th-col{
    width: 100%;
    margin-top: 30px;
    border: none;
  }
  .large-header-img{
    width: 100%;
    margin: 10px auto 20px auto;
  }
  .transaction-div{
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 5px auto 30px auto;
  }
  .transaction-div-title{
    font-size: 20px;
  }
  .transaction-card{
    flex-direction: column;
    width: 100%;
    margin: 5px auto;
  }
  .bottom-row-btns-div{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .subheader-btn{
    margin: 15px auto;
    width: 90%;
    border: 2px solid #D2042D;
  }
}

@media screen and (max-width: 480px) {
  .footer-info {
    max-width: 100%;
    padding-top: 0;
  }
}
