html,
body {
    padding: 0;
    margin: 0;
    color: #878d93;
    background: #000000;
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden;
}

.maintenance-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.maintenancePage-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    /* margin-left: 5rem; */
    max-width: 35%;
}

.maintenancePage-content h1 {
    font-size: 4rem;
    color: #fff;
    margin: 0;
    line-height: 74px;
}

.maintenancePage-content h1 span {
    color: #f9ff00;
}

.maintenancePage-content p {
    margin: 0;
    font-size: 1rem;
    color: #ddd;
}

.maintenance-page img {
    width: 50%;
}

.pink {
    color: fuchsia;
}

.stripe-success-div {
    width: 50%;
    background-color: #1b2129;
    text-align: center;
    padding: 50px 200px;
    margin: 200px auto 0 auto;
    color: #5EE47E;
    font-family: 'Poppins';
    font-size: 24px;
    border: 4px solid #FBFF12;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {

    .maintenancePage-content h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 767px) {
    .maintenance-page {
        flex-direction: column;
        gap: 50px;
    }

    .maintenancePage-content {
        max-width: 80%;
        align-items: center;
        text-align: center;
    }

    .maintenance-page img {
        width: 90%;
    }

    .maintenancePage-content h1 {
        font-size: 2rem;
        line-height: 46px;
    }
}

